/* screen - 0-2-login-1-cedula-codigo */

.x0-2-login-1-cedula-codigo {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 640px;
  overflow: hidden;
  width: 360px;
}

.x0-2-login-1-cedula-codigo .overlap-group1 {
  align-self: flex-start;
  height: 527px;
  margin-left: -246.0px;
  margin-top: -204px;
  position: relative;
  width: 749px;
}

.x0-2-login-1-cedula-codigo .ellipse-container {
  height: 511px;
  left: 0;
  position: absolute;
  top: 0;
  width: 749px;
}

.x0-2-login-1-cedula-codigo .ellipse-182 {
  background-color: var(--fuel-yellow);
  border-radius: 149.75px;
  height: 299px;
  left: 139px;
  position: absolute;
  top: 169px;
  transform: rotate(-69.80deg);
  width: 299px;
}

.x0-2-login-1-cedula-codigo .ellipse-183 {
  background-color: var(--blue-ribbon-2);
  border-radius: 149.75px;
  height: 299px;
  left: 288px;
  position: absolute;
  top: 42px;
  transform: rotate(-69.80deg);
  width: 299px;
}

.x0-2-login-1-cedula-codigo .ellipse-184 {
  background-color: var(--casal);
  border-radius: 149.75px;
  height: 299px;
  left: 42px;
  position: absolute;
  top: 87px;
  transform: rotate(-69.80deg);
  width: 299px;
}

.x0-2-login-1-cedula-codigo .ellipse-185 {
  background-color: var(--cardinal-pink);
  border-radius: 149.75px;
  height: 299px;
  left: 407px;
  position: absolute;
  top: 143px;
  transform: rotate(-69.80deg);
  width: 299px;
}

.x0-2-login-1-cedula-codigo .bienvenida {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: 25px;
  font-weight: 600;
  left: 355px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 494px;
  width: 144px;
}

.x0-2-login-1-cedula-codigo .ingresa-tu-correo-y-cdigo {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1.0px;
  margin-top: 6px;
  min-height: 52px;
  text-align: center;
  width: 175px;
}

.x0-2-login-1-cedula-codigo .login {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 19.43px;
  margin-left: 1.0px;
  margin-top: 25px;
  width: fit-content;
}

.x0-2-login-1-cedula-codigo .text-field-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 6.48px;
  width: 175px;
}

.x0-2-login-1-cedula-codigo .field {
  align-items: center;
  align-self: stretch;
  border: 0.81px solid;
  border-color: var(--loblolly);
  border-radius: 9.72px;
  display: flex;
  gap: 6.48px;
  height: 38.87px;
  overflow: hidden;
  padding: 9.72px 12.96px;
}

.x0-2-login-1-cedula-codigo .content {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 4.86px;
}

.x0-2-login-1-cedula-codigo .text {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 0.81px;
}

.x0-2-login-1-cedula-codigo .form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12.96px;
  width: 174.91px;
}

.x0-2-login-1-cedula-codigo .code-input {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 6.48px;
  justify-content: center;
}

.x0-2-login-1-cedula-codigo .text-field {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 6.48px;
  width: 38.87px;
}

.x0-2-login-1-cedula-codigo .text-1 {
  color: var(--eerie-black);
  flex: 1;
  font-family: var(--font-family-inter);
  font-size: 11.3px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 16.2px;
  margin-top: -0.81px;
  text-align: center;
  white-space: nowrap;
}

.x0-2-login-1-cedula-codigo .field-1 {
  align-items: center;
  align-self: stretch;
  border: 1.21px solid;
  border-color: var(--blue-ribbon);
  border-radius: 9.72px;
  display: flex;
  gap: 6.48px;
  height: 38.87px;
  overflow: hidden;
  padding: 9.72px 12.96px;
}

.x0-2-login-1-cedula-codigo .cursor {
  height: 14.17px;
  margin-bottom: -0.61px;
  margin-left: -0.61px;
  margin-top: -0.61px;
  min-width: 1.21px;
}

.x0-2-login-1-cedula-codigo .frame-78 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 12.96px;
  width: 175px;
}

.x0-2-login-1-cedula-codigo .button-primary {
  align-items: center;
  background-color: var(--blue-2);
  border-radius: 9.72px;
  display: flex;
  gap: 6.48px;
  height: 38px;
  justify-content: center;
  overflow: hidden;
  padding: 9.72px 12.96px;
  width: 175px;
}

.x0-2-login-1-cedula-codigo .button {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 9.7px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  width: fit-content;
}

.x0-2-login-1-cedula-codigo .olvid-mi-contrasea {
  color: #9f9f9f;
  cursor: pointer;
  font-family: var(--font-family-inter);
  font-size: 13.9px;
  font-weight: 200;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 1.0px;
  margin-top: 19px;
  min-height: 17px;
  min-width: 135px;
}
