/* screen - 3-2-1-riesgo */

.x3-2-1-riesgo {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  height: 640px;
  width: 360px;
}

.x3-2-1-riesgo .overlap-group {
  height: 673px;
  margin-top: -33px;
  position: relative;
  width: 360px;
}

.x3-2-1-riesgo .ellipse-181 {
  height: 465px;
  left: 0;
  position: absolute;
  top: 33px;
  width: 204px;
}

.x3-2-1-riesgo .ellipse-178 {
  height: 640px;
  left: 47px;
  position: absolute;
  top: 33px;
  width: 313px;
}

.x3-2-1-riesgo .ellipse-179 {
  height: 416px;
  left: 0;
  position: absolute;
  top: 257px;
  width: 269px;
}

.x3-2-1-riesgo .ellipse-180 {
  height: 396px;
  left: 121px;
  position: absolute;
  top: 277px;
  width: 239px;
}

.x3-2-1-riesgo .rectangle-173 {
  background-color: var(--black);
  border-radius: 14.71px;
  height: 6px;
  left: 49px;
  position: absolute;
  top: 46px;
  width: 41px;
}

.x3-2-1-riesgo .rectangle-174 {
  background-color: var(--black);
  border-radius: 14.71px;
  height: 6px;
  left: 49px;
  position: absolute;
  top: 56px;
  width: 41px;
}

.x3-2-1-riesgo .rectangle-175 {
  background-color: var(--black);
  border-radius: 14.71px;
  height: 6px;
  left: 49px;
  position: absolute;
  top: 65px;
  width: 41px;
}

.x3-2-1-riesgo .comentarios {
  left: 63px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 319px;
  width: 185px;
}

.x3-2-1-riesgo .encontr-en-su-segu {
  left: 69px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 172px;
  width: 223px;
}

.x3-2-1-riesgo .field {
  align-items: flex-start;
  background-color: var(--white);
  border: 0.79px solid;
  border-color: var(--loblolly);
  border-radius: 9.5px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  gap: 6.33px;
  height: 77px;
  left: 60px;
  overflow: hidden;
  padding: 9.5px 12.66px;
  position: absolute;
  top: 348px;
  width: 235px;
}

.x3-2-1-riesgo .content-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 4.75px;
}

.x3-2-1-riesgo .text {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 0.79px;
}

.x3-2-1-riesgo .campo-de-texto {
  color: var(--mountain-mist-2);
  font-family: var(--font-family-inter);
  font-size: 11.1px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 15.8px;
  margin-top: -0.79px;
  white-space: nowrap;
  width: fit-content;
}

.x3-2-1-riesgo .cul-es-la-ruta-a-s {
  left: 61px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 436px;
  width: 241px;
}

.x3-2-1-riesgo .field-1 {
  align-items: center;
  background-color: var(--white);
  border: 0.79px solid;
  border-color: var(--loblolly);
  border-radius: 9.5px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  gap: 6.33px;
  height: 38px;
  left: 59px;
  overflow: hidden;
  padding: 9.5px 6.84px 9.5px 12.66px;
  position: absolute;
  top: 478px;
  width: 235px;
}

.x3-2-1-riesgo .content-2 {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 4.75px;
}

.x3-2-1-riesgo .text-1 {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 0.79px;
}

.x3-2-1-riesgo .group-67 {
  align-items: flex-start;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  gap: 12px;
  height: 52px;
  left: 64px;
  min-width: 238px;
  position: absolute;
  top: 253px;
}

.x3-2-1-riesgo .list-item {
  align-items: center;
  background-color: var(--mystic);
  border-radius: 11.09px;
  display: flex;
  gap: 14.79px;
  height: 52px;
  padding: 14.79px;
  width: 106px;
}

.x3-2-1-riesgo .content {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 3.7px;
}

.x3-2-1-riesgo .title {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 18.5px;
  margin-top: -0.92px;
  text-align: center;
  white-space: nowrap;
}

.x3-2-1-riesgo .checkbox {
  background-color: var(--blue-ribbon);
  border: 1.39px solid;
  border-radius: 5.55px;
  height: 22.19px;
  margin-bottom: -0.13px;
  margin-top: -0.13px;
  min-width: 22.19px;
  position: relative;
}

.x3-2-1-riesgo .check {
  height: 11px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 11px;
}

.x3-2-1-riesgo .list-item-1 {
  align-items: center;
  align-self: flex-end;
  background-color: var(--white);
  border: 0.46px solid;
  border-color: var(--loblolly);
  border-radius: 11.09px;
  display: flex;
  gap: 14.79px;
  height: 52px;
  margin-bottom: 0;
  padding: 14.79px;
  width: 121px;
}

.x3-2-1-riesgo .checkbox-1 {
  border: 1.39px solid;
  border-color: var(--loblolly);
  border-radius: 5.55px;
  height: 22.19px;
  margin-bottom: -0.13px;
  margin-top: -0.13px;
  min-width: 22.19px;
}

.x3-2-1-riesgo .button-primary {
  align-items: center;
  background-color: var(--white);
  border-radius: 9.72px;
  box-shadow: 0px 4px 4px #00000040;
  cursor: pointer;
  display: flex;
  gap: 8px;
  height: 32px;
  justify-content: center;
  left: 154px;
  overflow: hidden;
  padding: 12px 16px;
  position: absolute;
  top: 583px;
  width: 45px;
}

.x3-2-1-riesgo .button {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -8.50px;
  margin-left: -4.00px;
  margin-top: -10.50px;
  width: fit-content;
}
